/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    margin: 0;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 h2 h3 h4 {
    margin: 0;
}

h1,
h2 {
    font-size: 22px;
}

#filters h2 {
    font-size: 18px;
}

h3 {}

h4 {
    /*Afficher plus*/
    font-size: 18px;
}

p {}

strong {}



.main-container {
    max-width: 1440px;
    /*maximum size for large desktop*/
    min-width: 320px;
    margin: 0 50px;
    box-sizing: border-box;
}

/****** Header ***********/
header {
    height: 79px;
}

nav {
    display: flex;
    justify-content: space-between;
}

header img {
    height: 19px;
    margin: 30px 0px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0 50px;
    /* resolution espace entre les menus */
    gap: 68px;

}

nav ul li {
    border-top: 2px solid transparent;
    /*résolution décalage du texte*/
    padding-top: 14px;
}

nav ul li:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** search ***********/

.search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 35px;
    /* L'espace semble plus important que sur la maquette! */
}

.search-localisation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 49px;
    width: 377px;
}

.map-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 0 20px 0 20px;
    border-radius: 15px 0 0 15px;

}

.map-icon i {
    font-size: 20px;
    color: black;
}

input#localisation {
    border: 0;
    /*pourquoi faut-il d'abord la remettre à 0 ? */
    border-top: 2px solid var(--main-bg-color);
    border-bottom: 2px solid var(--main-bg-color);
    z-index: 2;
    /*tentative de faire repasser la bordure au dessus*/
}

input#localisation::placeholder {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    /* correction police placeholder */
    font-weight: bold;
    color: black;
}

.search-button {
    background-color: #0065FC;
    color: white;
    text-align: center;
    border-radius: 0 15px 15px 0;
    flex-grow: 1;
    /*force le bouton recherche à occuper tout l'espace restant du conteneur*/
}

.search-button:hover {
    cursor: pointer;
}

.loupe {
    display: none;
    /*affiche seulement pour smartphones*/
    height: 55px;
    /* compense largeur ombre*/
    z-index: 1;
}

/****** filters ***********/

#filters-container {
    display: flex;
    flex-direction: row;
}

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* height: 50px; conditionner la hauteur posait pb 
    avec le gap des elements de search et search-result 
    se juxtaposait aux filtres à la reduction de l'ecran*/
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    margin-left: 15px;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 16px;
    /* correction police button */
    font-weight: bold;
}

.btn:hover {
    background-color: var(--filter-bg-color);
}

.btn:focus {
    background-color: var(--filter-bg-color);
}

.btn:active {
    border: 2px solid var(--main-color)
}

.btn img {
    height: 22px;
    width: 22px;
}

.search-result {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.search-result span {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
}



.fa-info {
    font-size: 16px;
}

/****** Cards ***********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
}

.card-rating {
    margin-bottom: 5px;
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/****** Hebergements And Populaires ***********/
.bloc-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloc-title h2 {
    margin: 0;
    font-size: 22px;
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    display: flex;
    flex-direction: column;
    width: 66%;
    /*se place à coté du conteneur populaire sur la place restante*/
    order: 1;
}

.hebergements-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* IMPOSSIBLE SANS WRAP */
    margin-bottom: 30px;
    /*espace avec Afficher plus*/
}

.hebergements-gallery a {
    margin-top: 30px;
    width: 31%;
    height: 207px;
}

/* le retour à la ligne de la card auberge de 
    la canneberge agrandit la carte! */
.hebergements-gallery img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-gallery .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    order: 2;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
    /*size desktop populaire card*/
    /* width: 369px; */
    /* height: 146px; DECALE L'IMAGE*/
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Activités ***********/

/* toujours pas 4 cards sur la meme ligne
avec mon écran, seulement 3 */

#activities {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 30px;
}

#activities h2 {
    margin-bottom: 30px;
}

.activities-gallery {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* IMPOSSIBLE SANS WRAP */
    justify-content: space-between;
    /* gap: 30px; */
}

.activity-card {
    display: flex;
    flex-direction: column;
    /* width: 297.5px; */
    /* la mise d'un % fait sortir du flux*/
    height: 439px;
    /* margin: 30px;      */
    /* un margin fait sortir du flux s'il n'y a pas un wrap */
    border-radius: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    width: 22%;
}

.activity-card img {
    border-radius: 30px 30px 0 0;
    height: 90%;
    object-fit: cover;
}

.activity-card h3 {
    padding: 20px 19px 20px 19px;
}



/****** Footer ***********/
footer {
    width: 100%;
    /* max-width: 1440px; */
    /*maximum size for large desktop*/
    ;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    /* margin: 0 50px; */
    /*marge autour zone grise*/
    padding: 30px;
    /*espace autour des colonnes de texte*/
}

/*Peut-on recréer la marge à gauche et à droite sans rajouter de conteneur html?*/
footer section div {
    display: flex;
    flex-direction: column;
    width: 33%;
    /*peut-on aligner les liens à gauche autrement? */
    gap: 15px;
    /*espace entre les liens*/
}

footer h3 {
    margin: 0;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    #filters-container {
        flex-direction: column;
    }

    .btn {
        margin-left: 0px;
        margin-right: 15px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        flex-direction: column-reverse;
        /*inverse l'ordre des sections */
        flex-wrap: wrap;
        gap: 0;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*size tablet populaire card*/
    /* width: 275px;
        height: 146px; */

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity-card {
        height: 270px;
        width: 193.5px;
    }

    footer section div {
        width: 100%;
        /* les liens occupent toute la largeur */
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        margin: 0;

    }

    header {
        height: auto;
        /* padding-bottom: 30px; */
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {}

    nav ul li {
        border-top: 0;
        border-bottom: 2px solid transparent;
        /*résolution décalage du texte*/
        padding-bottom: 14px;
    }

    nav ul li:hover {
        border-top: 0;
        border-bottom: 2px solid var(--main-color);
    }

    .search {
        margin: 20px 20px 0 20px;
    }

    .search-button {
        display: none;
    }

    .loupe {
        display: inline-flex;
        align-items: stretch;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        /* ré-réinverse l'ordre...*/
    }

    #hebergements {
        background-color: white;
    }

    .hebergements-gallery {
        flex-direction: column;
    }

    .hebergements-gallery a {
        width: 100%;
        ;
    }

    #hebergements-cards {
        flex-direction: column;
        margin-top: 20px;
        /*espace // titre*/
        margin-bottom: 20px;
        /*espace // afficher plus*/
        gap: 15px;
    }

    .hebergements-cards .card {
        width: 100%;
        /* width: 335px;  */
        /* height: 146px; */
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
        /*size mobile populaire card*/
        /* width: 335px;
        height: 146px; */
    }

    .activity-card {
        height: 200px;
        width: 100%;
    }

    footer section {
        flex-direction: column;
        margin: 0;
        gap: 50px;
    }
}